apiVersion: apps/v1
kind: Deployment
metadata:
  name: broker
spec:
  replicas: 4
  selector:
    matchLabels:
      app: broker
  template:
    metadata:
      labels:
        app: broker
    spec:
      containers:
      - name: broker
        image: broker:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: broker-service
spec:
  type: NodePort
  selector:
    app: broker
  ports:
  - port: 80
    targetPort: 8080
    nodePort: 30080