apiVersion: apps/v1
kind: Deployment
metadata:
  name: coordinator
spec:
  replicas: 2
  selector:
    matchLabels:
      app: coordinator
  template:
    metadata:
      labels:
        app: coordinator
    spec:
      containers:
      - name: coordinator
        image: coordinator:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8081
---
apiVersion: v1
kind: Service
metadata:
  name: coordinator-service
spec:
  type: NodePort
  selector:
    app: coordinator
  ports:
  - port: 80
    targetPort: 8081
    nodePort: 30081